@font-face {
	font-family: STXihei, "华文细黑", Heiti, "黑体", "Microsoft YaHei", "微软雅黑", SimSun, "宋体", sans-serif,Helvetica, Tahoma, Arial, ;
}

body{
	background-color:whitesmoke;
	font-size:xx-large;
	text-align:center;
}
