.person-info {
    background-image: url(https://cn.bing.com/az/hprichbg/rb/SanLorenzo_ZH-CN7625061136_1920x1080.jpg);
    background-attachment: fixed;
    min-height: 100%;
    text-align: center;

    @include medium {
        display: table;
        width: 100%;

        & > div {
            display: table-row;
        }
    }

    &_item {
        color: #ffffff;
        padding-top: $padding;

        @include medium {

        }
    }

    &_title {
        padding: $padding 0;
        background-color: #ffffff;

        @include medium {
            display: block;
        }
    }

    .avatar img {
        border-radius: 50%;
        width: 25%;
        position: absolute;
        bottom: $padding;
        left: 50%;
        transform: translateX(-50%);
        max-width: 103px;
        padding: 0;

        @include medium {
            bottom: auto;
            left: auto;
            right: $padding;
            transform: none;
        }
    }
}
