.person-info {
    background-image: url(https://cn.bing.com/az/hprichbg/rb/SanLorenzo_ZH-CN7625061136_1920x1080.jpg);
    background-attachment: fixed;
    min-height: 100%;
    text-align: center;

    &_item {
        color: #ffffff;
        padding: $padding 0;

        @include medium {

        }
    }

    &_title {
        padding: $padding 0;
        background-color: #ffffff;
    }

    .avatar {
        border-radius: 50%;
        width: 25%;
    }
}
