@import './oswald.scss';

$s-b: 320px;
$m-b: 768px;
$l-b: 1025px;

$padding: 18px;

$fontSize: 24px;

$overlayColor: #3e3e3e;

$fontColor: #ffffff;

@mixin medium {
    @media screen and (min-width: $m-b) {
        @content;
    }
}

@mixin large {
    @media screen and (min-width: $l-b) {
        @content;
    }
}

html {
    font-family: sans-serif;
    font-size: $fontSize;

    body {
        padding: 0;
        margin: 0;
    }
}

.intro {
    height: 100vh;
    position: relative;

    &_background {
        height: 100%;

        img,
        video {
            object-fit: cover;
            width: 100%;
            height: 100%;
            position: absolute;
        }

        &:after {
            content: '';
            background: rgba($overlayColor, 0.2);
            position: absolute;
            display: block;
            height: 100%;
            width: 100%;
        }
    }

    &_content {
        color: $fontColor;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        text-align: center;
        width: 100%;

        .avatar {
            height: 100px;
            width: 100px;
            border-radius: 50%;
            cursor: pointer;
        }
    }
}

.frameworks {
    background: $fontColor;

    div {
        padding: 0 $padding;
    }

    .backbonejs {
        display: inline-block;
        background-size: cover;
        background-position: -2% 0;
        background-repeat: no-repeat;
    }

    .backbonejs,
    img {
        height: 30px;
        width: 30px;
        border-radius: 50%;
        box-shadow: 0px 1px 1px rgba($overlayColor, 0.5);
        margin: $padding / 2;
    }

    @include medium {
        div {
            padding: $padding $padding * 2;
        }

        .backbonejs,
        img {
            height: 80px;
            width: 80px;
            margin: $padding;
        }
    }
}

.architects {
    text-align: center;
    color: $fontColor;
    background: $fontColor;

    div {
        font-family: 'Oswald', sans-serif;
        font-size: 2 * $fontSize;
        font-weight: bold;
        padding: 0 $padding;
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
        background-image: url(/assets/text_background.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 50% 30%;
    }

    @include medium() {
        div {
            font-size: 3 * $fontSize;
            font-weight: bold;
        }
    }
}

.projects {
    background-color: rgba($overlayColor, 0.2);
    position: relative;
    height: 100vh;

    &:before {
        content: '';
        background: rgba($overlayColor, 0.2);
        position: absolute;
        display: block;
        height: 100%;
        width: 100%;
    }

    .projects_background {
        height: 100vh;

        img {
            object-fit: cover;
            width: 100%;
            height: 100%;
            position: absolute;
        }
    }

    .projects_contact {
        position: absolute;
        top: 90%;
        transform: translateY(-50%);
        color: $fontColor;
        text-align: center;
        right: 0;

        a {
            color: $fontColor;
            text-decoration-line: none;
        }
    }
}

.parallax_ele {
    z-index: -100;
    position: fixed;
    overflow: hidden;
    transform: translate3d(0, 0, 0);
    width: 100%;

    img, video {
        transform: translate3d(0, 0, 0);
    }
}
