@import "../styles/_variables.module.scss";

.container {
  background-color: $bgColor4;
}

.section1 {
  height: 100vh;
  background-color: $bgColor4;
}
.section2 {
  height: 100vh;
  background-color: $bgColor1;
}
.section3 {
  height: 100vh;
  background-color: $bgColor1;
}

.section4 {
  height: 100vh;
  background-color: $bgColor8;
}
